<style>
  form {
    max-width: 400px; /* Establece el ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    text-align: left; /* Alinea el texto a la izquierda */
  }

  label {
    display: block; /* Hace que cada etiqueta esté en una línea separada */
    margin-bottom: 10px; /* Espacio entre las etiquetas */
  }

  label span {
    display: inline-block; /* Alinea el texto y los elementos de entrada en la misma línea */
    width: 120px; /* Ancho fijo para las etiquetas, ajusta según sea necesario */
  }

  input, textarea, select {
    width: 100%; /* Hace que los elementos de entrada ocupen el 100% del ancho disponible */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
  }

  button {
    width: auto; /* Permite que el ancho del botón sea dinámico según el contenido */
    padding: 5px 10px; /* Ajusta el relleno para un mejor aspecto */
  }
</style>

<h1 id="create">Create a new Place </h1>

{{!-- <h1>Create a new Place</h1> --}}

<form action="/places/create" method="POST" enctype="multipart/form-data">
  <label> 
    <span>Name:</span>
    <input type="text" name="title" />
  </label>

  <label> 
    <span>Location:</span>
    <input type="text" name="location" />
  </label>

  <label> 
    <span>Image:</span>
    <input type="file" name="image" />
  </label>

  <label> 
    <span>Description:</span>
    <textarea name="description" cols="30" rows="4">Description</textarea>
  </label>

  <label> 
    <span>Author:</span>
    <input type="text" name="author" />
  </label>

  <label> 
    <span>Rating:</span>
    <input type="text" name="rating" />
  </label>

  <button type="submit">Create</button>
</form>
