<style>
  form {
    max-width: 400px; 
    margin: 0 auto; 
    text-align: left; 
  }

  label {
    display: block; 
    margin-bottom: 10px; 
  }

  label span {
    display: inline-block; 
    width: 120px; 
  }

  input, textarea, select {
    width: 100%; 
    box-sizing: border-box; 
  }

  button {
    width: auto; 
    padding: 5px 10px; 
  }
</style>

<h1 id="create">Create a new Place </h1>



<form action="/places/create" method="POST" enctype="multipart/form-data">
  <label> 
    <span>Name:</span>
    <input type="text" name="title" />
  </label>

  <label> 
    <span>Location:</span>
    <input type="text" name="location" />
  </label>

  <label> 
    <span>Image:</span>
    <input type="file" name="image" />
  </label>

  <label> 
    <span>Description:</span>
    <textarea name="description" cols="30" rows="4">Description</textarea>
  </label>

  <label> 
    <span>Author:</span>
    <input type="text" name="author" />
  </label>

  <label> 
    <span>Rating:</span>
    <input type="text" name="rating" />
  </label>

  <button type="submit">Create</button>
</form>
