<h1>Create a new Place</h1>

<form action="/places/create" method="POST" enctype="multipart/form-data">
  <label> Name:
    <input type="text" name="title" />
  </label>

  <label> Location:
    <input type="text" name="location" />
  </label>

  <label> Description:
    <textarea name="description" cols="30" rows="4">description</textarea>
  </label>

  <label> Image:
    <input type="file" name="image"/>
  </label>

  <label> author:
    <input type="text" name="author"/>
  </label>

  <label> rating:
    <input type="text" name="rating"/>
  </label>

  <button type="submit">Create</button>
</form>
