<h2>Places list</h2>

<ul>
  {{#each places}}
    <li>
      <a href="/places/{{_id}}">
        {{ title }}
        <div>
          <img src="{{ image }}" alt="{{ title }}" width="200" height="200">
        </div>
      </a>
    </li>
  {{/each}}
</ul>
