<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <header>
        <h1>Travelers Blog</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/places/places-create">Places</a>
        <a href="/auth/signup">Sign Up</a>
        <a href="/auth/login">Login</a>
        <a href="/myprofile">Profile</a>
        <a href="/auth/logout" class="logout-btn">Logout</a>
    </nav>

    <div class="container">
        <!-- Contenido de la página -->
        <h2>Ready for travel!!</h2>
        <!-- Agrega aquí el contenido de tu blog -->
    </div>

        {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>