<h2>Welcome, {{ user.username }}!</h2>

<div class="profile-container">
  <div class="profile-info">
    <p>This is your profile page, my friend!</p>
  </div>

  {{#if user.userImage}}
    <img class="profile-image" src="{{ user.userImage }}" alt="profile image">
  {{else}}
    <img class="profile-image" src="/images/guest.webp" alt="default image">
  {{/if}}
</div>

<a href="/myprofile/edit">Edit</a>
<a href="/">Cancel</a>
