<style>
  h2 {
    color: #333; /* Cambia el color del texto según tus preferencias */
  }

  .profile-container {
    display: flex;
    align-items: center;
  }

  .profile-info {
    margin-right: 20px; /* Ajusta el espacio entre la información y la imagen según sea necesario */
  }

  .profile-image {
    width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 100px;
    border-radius: 50%; /* Aplica un borde redondeado para la imagen */
    object-fit: cover; /* Evita que la imagen se distorsione al cambiar su tamaño */
  }

  a.button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff; /* Color del texto en los botones */
    background-color: #171616; /* Color de fondo de los botones */
    border: 1px solid #333; /* Borde de los botones */
    border-radius: 5px; /* Borde redondeado de los botones */
    transition: background-color 0.3s, transform 0.3s;
  }

  a.button:hover {
    background-color: #333; /* Color de fondo al pasar el ratón sobre los botones */
    transform: scale(1.05); /* Efecto de aumento de tamaño al pasar el ratón sobre los botones */
  }
</style>

<h2>Welcome, {{ user.username }}!</h2>

<div class="profile-container">
  <div class="profile-info">
    <p>This is your profile page, my friend!</p>
  </div>

  {{#if user.userImage}}
    <img class="profile-image" src="{{ user.userImage }}" alt="profile image">
  {{else}}
    <img class="profile-image" src="/images/guest.webp" alt="default image">
  {{/if}}
</div>

<a class="button" href="/myprofile/edit">Edit</a>
<a class="button" href="/">Cancel</a>
