body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: url('https://www.ofertasparaviajar.com/wp-content/uploads/2016/08/top100-gifts-animados-viaje-1.gif') no-repeat center center fixed;
  background-size: cover
}

header {
  background-color: #2e7d32; /* Verde oscuro para el encabezado */
  color: #050505;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #388e3c; /* Verde medio para la barra de navegaci칩n */
  padding: 10px;
  text-align: center;
}

nav a {
  color: #0b0a0a;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-weight: bold;
}

.container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #030303; /* Verde medio para el texto del formulario */
}

input, button {
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid #388e3c; /* Verde medio para el borde del formulario */
  border-radius: 4px;
}

button {
  background-color: #2e7d32; /* Verde oscuro para el bot칩n del formulario */
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #4caf50; /* Verde m치s claro para el estado hover del bot칩n */
}

.profile-info {
  text-align: center;
}

.logout-btn {
  background-color: #d2d94f;
  color: #fff;
}

.logout-btn:hover {
  background-color: #bec92c;
}
 #list {
  text-align: center;
 }